.container {
  padding: 2rem 2rem 0rem 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.topLeft{
  display: flex;
  gap: 2rem;
}

.topRight{
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.my_table {
  margin-top: 2rem;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; /* optional */
}

.my_table th,
.my_table td {
  border: 1px solid black; /* optional */
  padding: 8px;
  text-align: center;
}

.cashAndGold {
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.deleteBtn {
  cursor: pointer;
}

input:disabled {
  background-color: white; /* or your default color */
  color: black; /* text color */
  opacity: 1; /* remove faded look */
  cursor: not-allowed; /* optional */
}

select:disabled {
  background-color: white; /* or your default color */
  color: black; /* text color */
  opacity: 1; /* remove faded look */
  cursor: not-allowed;
}

.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

.button{
  padding: 0.5rem 1.5rem;
  background-color: black;
  border-radius: 1rem;
  cursor: pointer;
}